:root {
  font-size: 20px;
  --unit: 4px;
  --clr-text: #371e06;
  --clr-green: #63b76c;
  --clr-green-dark: #008001;
  --clr-green-light: #9acd32;
  --clr-article-bg: #fdd5b1;
  --clr-pink: #e667ce;
  --clr-brown: #b87333;
  --font-xl: clamp(1.55rem, -0.7115rem + 6.2821vw, 4rem);
  --font-lg: clamp(1.25rem, 0.5577rem + 1.9231vw, 2rem);
  --font-md: clamp(1rem, 0.8154rem + 0.5128vw, 1.2rem);
}

html {
  font-family: var(--font-text);
  font-size: var(--font-md);
  color: var(--clr-text);
}

body {
  background-color: var(--clr-green);
  background-image: url(./imgs/garden-blog-grass-tile.webp);
}

a {
  color: inherit;
  font-weight: 600;
}

a:hover {
  color: var(--clr-green-dark);
}

main {
  display: grid;
}

article {
  background-color: var(--clr-article-bg);
  border: 0.45rem var(--clr-brown) groove;
  padding: 0.5em;
  max-width: 65ch;
  place-self: center;
  margin: 0 0.5ch;
}

article .title {
  font-family: var(--font-headings);
}

article .metadata {
  font-size: 0.8em;
  font-weight: 200;
  text-align: center;
  display: flex;
  align-items: center;
  margin: calc(2 * var(--unit)) 0;
}

article .metadata .author {
  margin: 0;
  padding-right: calc(2 * var(--unit));
  margin-right: calc(2 * var(--unit));
  border-right: var(--clr-brown) solid calc(0.25 * var(--unit));
}

article p {
  margin-top: calc(4 * var(--unit));
}

.footer {
  position: relative;
  margin-top: 4rem;
}

.footer .sand {
  position: relative;
  width: 100%;
  height: 15ch;
  background-image: url("./imgs/garden-blog-sand-tile.webp");
  background-size: 64px;
}

.footer .sand::before {
  content: "";
  background-image: url("./imgs/garden-blog-surface-algae-tile.webp");
  width: 100%;
  height: 24px;
  position: absolute;
  top: -24px;
}

.footer .sand::after {
  content: "";
  background-image: url("./imgs/garden-blog-surface-algae-tile.webp");
  width: 100%;
  height: 24px;
  position: absolute;
  bottom: 0;
}

.footer .water {
  width: 100%;
  height: 5ch;
  background-image: url("./imgs/garden-blog-water-tile.webp");
  background-size: 64px;
}

.footer .water::before {
  content: "";
  display: flex;
  background-image: url("./imgs/garden-blog-surface-algae-tile.webp");
  width: 100%;
  height: 24px;
  transform: rotate(180deg);
}
