---
import BaseLayout from "./layouts/BaseLayout.astro";
import Post from "../components/Post.astro";
---

<BaseLayout title="Home Page">
  <h1>Helloaa!</h1>
  <Post
    title="Post Title but it's like really really long, like a hugeee title. I don't even know why you'd need such a title"
    author="Mike Ock"
    date_pub="2025-08-12"
    date_updated="2025-08-15"
  >
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde enim minus
      officia sunt ipsam, molestias nobis magnam ad dolorem deleniti quidem
      minima veritatis, provident commodi! Modi fugit itaque a ab.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde enim minus
      officia sunt ipsam, molestias nobis magnam ad dolorem deleniti quidem
      minima veritatis, provident commodi! Modi fugit itaque a ab.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde enim minus
      officia sunt ipsam, molestias nobis magnam ad dolorem deleniti quidem
      minima veritatis, provident commodi! Modi fugit itaque a ab.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde enim minus
      officia sunt ipsam, molestias nobis magnam ad dolorem deleniti quidem
      minima veritatis, provident commodi! Modi fugit itaque a ab.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde enim minus
      officia sunt ipsam, molestias nobis magnam ad dolorem deleniti quidem
      minima veritatis, provident commodi! Modi fugit itaque a ab.
    </p>
  </Post>
</BaseLayout>
