---
const { title, author, date_pub, date_updated } = Astro.props;
---

<article>
  <h2 class="title">{title}</h2>
  <div class="metadata">
    <p class="author">{author}</p>
    {
      date_updated ? (
        <time class="date" datetime={date_updated}>
          {Intl.DateTimeFormat("en-us", {
            dateStyle: "long",
          }).format(new Date(date_updated))}{" "}
          (updated)
        </time>
      ) : (
        <time class="date" datetime={date_pub}>
          {Intl.DateTimeFormat("en-us", {
            dateStyle: "long",
          }).format(new Date(date_pub))}{" "}
        </time>
      )
    }
  </div>
  <slot />
</article>
